body {
    display: grid;
    grid-template-areas: 
    "aside navigation navigation"
    "aside main main"
    "aside main main"
    "aside footer footer";
    height: 100dvh;
    max-height: 100dvh;
    grid-template-columns: 200px repeat(2, 1fr);
    grid-template-rows: 50px repeat(2, 1fr) 50px;
}

nav {
    grid-area: navigation;
    border: 1px solid #000000;
    width: 100%;
}

aside {
    grid-area: aside;
    border: 1px solid #000000;
}

main {
    grid-area: main;
    border: 1px solid #000000;
}

footer {
    grid-area: footer;
    border: 1px solid #000000;
}